@model AEXApplication.Models.Fundraising

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Fundraising</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AchievedTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AchievedTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileDiscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubDivision.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubDivision.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
