<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Adventure Explorers</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-fa-57x57-precomposed.png">
    <link rel="shortcut icon" href="favicon.png">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/test/css")
    @Styles.Render("~/Test/font")
    @*@Scripts.Render("~/bundles/bootstrap")*@
</head>

<body>
    <header>
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <img src= "../../images/restart_logo.png" alt="sick of it." height="90" width="90">
                        <span class="logo_title"><strong>Adventure Explorers</strong></span> <span class="logo_subtitle">a multipurpose template</span>
                    </a>
                    <a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        @*<span class="nb_left pull-left"> 
                            <span class="fa fa-reorder"></span>
                        </span>*@ 
                        <span class="nb_right pull-right">menu</span> 
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav pull-right navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about_us.html">About Us</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Learn<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="home_alternative.html">Basic Climbing Class</a></li>
                                <li><a href="home_alternative.html">Basic Rock Class</a></li>
                                <li><a href="home_alternative.html">Intermediate Climbing Class</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Volunteer<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="home_alternative.html">Fund Raise</a></li>
                                <li><a href="documentation/index.html">Rainer Kautz Climb <span class="label label-danger">new</span></a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio.html">Explore</a></li>
                        <li><a href="blog.html">Store</a></li>
                        <li><a href="contact.html">Contact</a></li>


                        @*<li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Pages<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="home_alternative.html">Home Alternative</a></li>
                                <li><a href="page_alternative.html">Page Alternative</a></li>
                                <li><a href="gallery.html">Portfolio Masonry</a></li>
                                <li><a href="portfolio_item.html">Portfolio Item</a></li>
                                <li><a href="portfolio_item_2.html">Portfolio Item II</a></li>
                                <li><a href="single_post.html">Single Post</a></li>
                                <li><a href="404.html">ERROR 404</a></li>
                                <li><a href="register.html">Register or Sign in</a></li>
                                <li><a href="elements.html">Design Elements</a></li>
                                <li><a href="documentation/index.html">Documentation <span class="label label-danger">new</span></a></li>
                            </ul>
                        </li>*@
                    </ul>
                </div>
            </div>
            <div id="social_media_wrapper"> 
                <a href="https://www.facebook.com/adventures.explorers">
                    <i class="fa fa-facebook"></i>
                </a> 
                <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a>
                <a href="#googleplus"><i class="fa fa-google-plus"></i></a> </div>
           @* <div id="sign"><a href="register.html"><i class="fa fa-user"></i><span>Register/Sign in</span></a></div>*@
        </div>
    </header>
    
    <div class="main">
        @RenderBody()
    </div>
    @*<div><iframe width="225" height="570" src="http://meetu.ps/2JdH23" frameborder="0"></iframe></div>*@

    <footer>
        <section class="twitter_feed_wrapper">
            <div class="container">
                <div class="row wow animated fadeInUp">
                    <div class="twitter_feed_icon col-sm-1 col-md-1"><a href="#twitter"><i class="fa fa-twitter"></i></a></div>
                    <div class="col-sm-11 col-md-11">
                        <blockquote>
                            <p>This Clean, Flexible, Multipurpose Bootstrap 3.1.1 HTML5 Template will soon become a Wordpress theme with great support!  <a href="#">http://unhub.com/LIot</a></p>
                            — LeonArt (leonartgr) <a href="https://twitter.com/plethorathemes/">April 4, 2014</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer_teasers_wrapper">
            <div class="container">
                <div class="row">
                    <div class="footer_teaser col-sm-4 col-md-4">
                        <h3>About us</h3>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters.</p>
                        <p><i class="fa fa-map-marker"></i> 3 Athens street</p>
                        <p><i class="fa fa-phone"></i> (+30) 265-9987</p>
                        @*<p><i class="fa fa-print"></i> (+30) 9854-7855</p>*@
                        <p><i class="fa fa-envelope"></i> admin@adventure-explorers.com</p>
                    </div>
                    <div class="footer_teaser col-sm-4 col-md-4">
                        <h3>Latest News</h3>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">19<span>FEB</span></a>
                                <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
                                <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                            </li>
                            <li class="media">
                                <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">18<span>FEB</span></a>
                                <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
                                <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_teaser col-sm-4 col-md-4" id="latest-flickr-images">
                        <h3>FlickrFeed</h3>
                        <ul></ul> <p>All photos © by <a href="http://www.dimitragiannouka.com" target="_blank">Jeen Zachariah</a>.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4"> Copyright ©2015 all rights reserved </div>
                    <div class="text-right col-sm-4 col-md-4"> Designed by <a href="http://www.leonart.gr">Jesse</a> </div>
                    <p class="text-right pull-right col-sm-4 col-md-4"><a href="#">Back to top</a></p>
                </div>
            </div>
        </section>
    </footer>
    @*<footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>*@
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../js/jquery-1.9.0.min.js"><\/script>')</script>

     @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/test/css")
        @RenderSection("scripts", required: false)
</body>
</html>